.rules_content {
  display: flex;
  flex-direction: column;
}
.w200 {
  width: 200px;
}
.w100 {
  width: 50px;
  text-align: right;
}
.vhCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb10 {
  margin-bottom: 10px;
}

.item-box {
  display: flex;
  align-items: center;
}
.item-box + .item-box {
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
.icon-box {
  margin-left: 10px;
  .icon {
    font-size: 24px;
    cursor: pointer;
  }
}
