$app-bgc: #ffffff;
$container-bgc: #ffffff;
$aside-bgc: #ffffff;
$fill-bgc: #ffffff;
$base-font-color: #111111;
$check-color: #4cd764;
$high-light-text: #f56c6c;
$base-tag-item-height: 30px;
$font-gray: #909399;
$font-small-size: 12px;
$font-large-size: 16px;

// Base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

// Sidebar
$sideBarWidth: 300px;
$subMenuBg: #f8fafc;
$subMenuHover: #f5f7fa;
$subMenuActiveText: #111111;
$menuBg: #ffffff;
$menuText: #374151;
$menuActiveText: #111827;

// Login page
$lightGray: #eee;
$darkGray: #889aa4;
$loginBg: #ffffff;
$loginCursorColor: #111111;
