$app-bgc: #e6a23c;
$container-bgc: #f8e3c5;
$aside-bgc: #324157;
$fill-bgc: #f8e3c5;
$base-font-color: #3d474f;
$check-color: #4cd764;
$high-light-text: #f56c6c;
$base-tag-item-height: 30px;
$font-gray: #909399;
$font-small-size: 12px;
$font-large-size: 16px;

// Base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

// Sidebar
$sideBarWidth: 300px;
$subMenuBg: #1f2d3d;
$subMenuHover: #001528;
$subMenuActiveText: #f4f4f5;
$menuBg: rgb(50, 65, 87);
$menuText: #162b64;
$menuActiveText: #435ebe; // Also see settings.sidebarTextTheme

// Login page
$lightGray: #eee;
$darkGray: #889aa4;
$loginBg: #2d3a4b;
$loginCursorColor: #fff;
