.avatar-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  position: relative;
}
.video-box {
  width: 250px;
}
.moreImg {
  height: 100px;
  border: 1px solid #999;
  position: relative;
}
.avatar_box {
  width: 100%;
  height: 100%;
  position: relative;
}
.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.moreImg img {
  height: 100%;
  width: 100px;
}
.clearBtn {
  position: absolute;
  right: 0;
  top: 0;
  background: red;
  width: 30px;
  height: 30px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  cursor: pointer;
}
.el-upload {
  position: relative;
  height: 100%;
  width: 100%;
}
.el-upload-list__item-actions {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: default;
  text-align: center;
  color: #fff;
  opacity: 0;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;
}
.el-upload-list__item-actions:hover {
  opacity: 1;
}
.el-upload-list__item-actions:after {
  display: inline-block;
  content: '';
  height: 100%;
  vertical-align: middle;
}
.el-upload-list__item-actions:hover span {
  display: inline-block;
}
.el-upload-list__item-actions span + span {
  margin-left: 15px;
}
.el-upload-list__item-delete {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 12px;
  color: #ffffff;
  display: none;
}
.el-upload-list__item-actions span {
  display: none;
  cursor: pointer;
}

.el-upload-list__item-actions:hover .icon {
  display: inline-block;
  cursor: pointer;
  color: #fff;
}

.el-icon-delete:before {
  content: '\e6d7';
}
.el-icon-plus {
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
  background-color: rgb(242, 242, 242);
}
.progress2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
  background-color: rgb(242, 242, 242);
}
.elProgress {
  margin-top: 50px;
  width: 250px;
  height: 70px;
}
.abort {
  z-index: 10000;
  width: 250px;
  height: 30px;
  display: flex;
  justify-content: center;
  color: #aaa;
}
.abort:hover {
  color: #409eff;
}
