.vh-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-center {
  display: flex;
  justify-content: center;
}

.v-center {
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.ml10 {
  margin-left: 10px;
}

.vhCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
