.vh-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-center {
  display: flex;
  justify-content: center;
}

.v-center {
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}
