.box {
  position: relative;
  box-sizing: border-box;
  display: flex;
  white-space: pre-wrap;
  flex: 0 0 auto;
}

.bg {
  background-color: rgba($color: #000000, $alpha: 0.2);
}

.c-image {
  width: 100%;
}

.scroll {
  display: block !important;
}

.selBox {
  position: absolute;
  background-color: rgba($color: red, $alpha: 0.5);
}

.l {
  height: 100%;
  width: 2px;
  left: 0;
  top: 0;
}
.r {
  width: 2px;
  height: 100%;
  right: 0;
  top: 0;
}
.b {
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}
.t {
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
}
