.box {
  position: relative;
  box-sizing: border-box;
  display: flex;
  white-space: pre-wrap;
  flex: 0 0 auto;
}

.bg {
  background-color: rgba($color: #000000, $alpha: 0.2);
}

.c-image {
  width: 100%;
}

.scroll {
  display: block !important;
}

.selBox {
  position: absolute;
  background-color: rgba($color: red, $alpha: 0.5);
}

.l {
  height: 100%;
  width: 2px;
  left: 0;
  top: 0;
}
.r {
  width: 2px;
  height: 100%;
  right: 0;
  top: 0;
}
.b {
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}
.t {
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
}

.handle {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1000;
  width: 30px;
  height: 30px;
}

/* 定义滚动条样式 */
::-webkit-scrollbar {
  width: 7px; //定义滚动条宽度
  height: 7px; //定义滚动条高度
  border-radius: 10px; //定义滚动条圆角
  background-color: rgba(240, 240, 240, 0.1); //定义滚动条颜色
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5); //定义轨道阴影
  border-radius: 5px; //定义轨道圆角
  background-color: rgba(4, 56, 114, 0.5); //定义轨道颜色
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px; //定义滑块圆角
  box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5); //定义滑块阴影
  background-color: rgba(2, 33, 54, 0.5); //定义滑块颜色
}
